Package: com.icraze.favemoji
Name: Favemoji
Version: 1.1
Architecture: iphoneos-arm
Description: Replaces "Frequently Used" emojis with custom favourites. Also allows you to change the amount of recent emojis.
Maintainer: iCraze
Author: iCraze
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 11.0)
